<nav th:fragment="barra-superior"
        class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Mascot</a>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#" th:href="@{/}">
                      <i class="fa fa-home"></i> Inicio</a>
                </li>
                <li class="nav-item">
                    <a sec:authorize="isAuthenticated()" class="nav-link" th:href="@{/añadir/palabra}">
                      <i class="fas fa-plus-circle"></i> Añadir</a>
                </li>
            </ul>
            <ul class="navbar-nav me-auto">
                <li sec:authorize="isAuthenticated()" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                      <span th:text="${#authentication.name}">Opciones</span> <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">

                      <li><a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">
                        <i class="fas fa-sign-out-alt"></i> Salir</a>
                      </li>
                    </ul>
                </li>
            </ul>
          <form th:action="@{/logout}" method="post" id="logoutForm"></form>
        </div>
    </div>
</nav>
